# Category Theory Applied to DataBases

In [132]:
using Pkg
Pkg.activate(".")
using Tables

  Activating project at `~/Documents/GitHub/CTViz_Workshop/Julia`

In [133]:
S1 = Tables.Schema([:a,:b],[Real,String])
S2 = Tables.Schema([:x,:y,:z],[Real,Real,String])

Tables.Schema:
 :x  Real
 :y  Real
 :z  String

In [134]:
using DataFrames

In [140]:
df = DataFrame(x=Real[1,2,3],y=Real[1,1,1],z=Real[0,0,0]);

In [141]:
Tables.schema(df)

Tables.Schema:
 :x  Real
 :y  Real
 :z  Real

In [143]:
F = Dict(:a=>(:x,x->x+1),:b=>(:y,string))
function δF(df,F,col)
    map(F[col][2],df[!,F[col][1]])
end
function ΔF(df,F)
    DataFrame(map(k->k=>δF(df,F,k),collect(keys(F))))
end

ΔF (generic function with 1 method)

In [144]:
δF(df,F,:b)

3-element Vector{String}:
 "1"
 "1"
 "1"

In [145]:
ΔF(df,F)

3×2 DataFrame
 Row │ a      b
     │ Int64  String
─────┼───────────────
   1 │     2  1
   2 │     3  1
   3 │     4  1